In [1]:
import pandas as pd 

daten = pd.DataFrame({
    'Kilometerstand [km]': [32908, 20328, 13285, 17162, 27449, 13715, 32889,  3111, 15607, 18295],
    'Preis [EUR]': [15960, 20495, 17227, 17851, 5428, 22772, 13581, 16793, 23253, 11382],
    'verkauft': [False, True, False, True, False, True, False, True, True, False],
    },
    index=['Auto 1', 'Auto 2', 'Auto 3', 'Auto 4', 'Auto 5', 'Auto 6', 'Auto 7', 'Auto 8', 'Auto 9', 'Auto 10'])
daten.head(10)

         Kilometerstand [km]  Preis [EUR]  verkauft
Auto 1                 32908        15960     False
Auto 2                 20328        20495      True
Auto 3                 13285        17227     False
Auto 4                 17162        17851      True
Auto 5                 27449         5428     False
Auto 6                 13715        22772      True
Auto 7                 32889        13581     False
Auto 8                  3111        16793      True
Auto 9                 15607        23253      True
Auto 10                18295        11382     False

In [2]:
from sklearn.tree import DecisionTreeClassifier

modell = DecisionTreeClassifier()
X = daten[['Kilometerstand [km]', 'Preis [EUR]']]
y = daten['verkauft']

modell.fit(X,y)
score = modell.score(X,y)
print(score)

1.0

In [8]:
neue_autos = pd.DataFrame({
    'Kilometerstand [km]': [7580, 11300, 20000],
    'Preis [EUR]': [20999, 12000, 14999]
    },
    index=['Auto 11', 'Auto 12', 'Auto 13'])

In [9]:
prognose = modell.predict(neue_autos)
print(prognose)

[ True False False]